<div class="container" *ngIf="questions; else loading">

  <app-question (selected)="onSelect($event)" [currentQuestion]="currentQuestion"></app-question>

  <div class="buttons-area">
    <button [disabled]="currentIndex === 0" (click)="previous()">previous</button>
    <span>{{currentIndex+1}}/{{questions.length}}</span>
    <button *ngIf="(currentIndex+1) != questions.length" (click)="next()">Next</button>
    <button *ngIf="currentIndex === questions.length - 1" (click)="done()">done</button>
  </div>

  <div *ngIf="gameover">
    <h5>Result: {{(100 / questions.length) * correcAnswers}}%</h5>
  </div>
</div>
<ng-template #loading>
  laoding...
</ng-template>